.dashcontents{
  height: 100vh;
  width: 80%;
  margin: 20px auto;
  
}

.dashcontents .calc-sections {
  width: 70%;
  height: 100vh;
  padding: 10px 10px;
}

.dashcontents .calc-sections .heading  {
  background-color: #1d2435;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 85%;
  position: relative;
}

.dashcontents .calc-sections .calc-instrument {
  padding: 15px 15px;
  background-color: #121721;
  margin: 10px 0;
}

.dashcontents .calc-sections .calc-instrument.active {
  background-color: #27a54e;
}

.dashcontents .calc-sections .calc-instrument.active .input {
  border-bottom: 1px solid #197535;
}

.dashcontents .calc-sections .calc-instrument .image {
  width: 40px;
}

.dashcontents .calc-sections .calc-instrument .image img {
  width: 30px;
  height: 30px;
  display: block;
}

.dashcontents .calc-sections .calc-instrument .instrument {
  width: 90px;
  font-size: 12px;
}

.dashcontents .calc-sections .calc-instrument .input {
  width: -webkit-calc(100% - 130px);
  width: calc(100% - 130px);
  border-bottom: 1px solid #373e52;
}

.dashcontents .calc-sections .calc-instrument .input .input-field {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}

.dashcontents .calc-sections .calc-instrument .input .input-field input {
  width: 100%;
  background-color: transparent;
  font-size: 25px;
  border: none;
  outline: none;
  text-align: right;
  color: #fff;
  padding-right: 5px;
}

.dashcontents .calc-sections .calc-instrument .input .input-ins {
  width: 30px;
}

.dashcontents .calc-sections .add-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ef6c00;
  position: relative;
  margin-top: 50px;
  cursor: pointer;
}

.dashcontents .calc-sections .add-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}



.dashcontents .news-sections {
  width: 18%;
  height: 100vh;
  position: relative;
  background-color: #20283a;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 10px;
  display: none;
}

.dashcontents .news-sections .heading {
  background-color: #1d2435;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 85%;
  position: relative;
}

.dashcontents .news-sections .tabs .tab {
  width: 33.33%;
  border-bottom: 1px solid #565b68;
  padding: 10px 10px;
  display: inline-block;
}

.dashcontents .news-sections .tabs .tab.active {
  border-bottom: 1px solid #4786ff;
}

.dashcontents .news-sections .tabs .tab.active svg {
  fill: #4786ff;
}

.dashcontents .news-sections .bbc-card {
  background-color: #0c121b;
  color: #fff;
  padding: 10px 10px;
  margin: 5px 0;
}

.dashcontents .news-sections .bbc-card .lefted {
  width: 48%;
  font-size: 9px;
  display: inline-block;
}

.dashcontents .news-sections .bbc-card .righted {
  width: 48%;
  font-size: 9px;
  display: inline-block;
}

.dashcontents .news-sections .bbc-card p {
  margin-top: 50px;
}

.dashcontents .news-sections .tabs-details [news-tab-detail] {
  display: none;
}

.dashcontents .news-sections .tabs .tab svg {
  width: 20px;
  fill: #fff;
  height: 20px;
  display: block;
  margin: 0 auto;
}

.leader_container{
  overflow: hidden;
}


.wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 0 auto;
  width:30%;
  height:500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px 10PX;
  overflow-y: scroll; 
  -ms-overflow-style: none; 
}
 
.wrapper::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}
.content{
  margin: 20px auto;
  
}

.content > div {
  background-color:rgba(31, 31, 46, 0.5);
  width: 80%;
  margin: auto;
  padding: 30px;
  margin-bottom: 38px;
  border-radius: 0px 8px 0px 8px;
}

.content > div > span {
  color:white;
  font-size: 20px;
  margin-top:-15px;
}

.leaderboardDiv{
  width: 90px;
  clip-path: circle(35% at 50% 50%);
  /* z-index: 100; */
  position: relative;
  top: -58px;
  left:100px

}

.leaderboardDiv img {
  width: 100%;
}

 b {
  color: #197535;
  display: block;
}

.calc_contain{
  width:45%;
  height: 70%;
  margin:70px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calc-sections {
  text-align: center;
  margin: auto;
}

tr > td >  .order_span {
  color:white;
  text-align: center;
}

.tableRow {
  padding: 200px !important;
  border:1px solid wheat
}


