.finances_wrapper {
    max-width:900px;
    margin:0 auto;
    /* background-color: red; */
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.finance_container {
    display: flex;
    /* justify-content: center; */
    width: 80%;
    flex-direction: column;
    margin-top: 30px;
}

.center_order {
    width: 100%;
    margin: 0 auto;
}

.margin_auto{
    /* margin-right: -80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Heading11 {
   color:white;
    text-align: center;
    margin-bottom: 500px;
    padding: 10px;
}

/* .h2{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
} */
.flex_row1{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 20px auto;
}

.flex_row1 > div {
    margin-bottom: 20px;
    padding: 20px 25px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(3, 2, 39, 0.6);
}

.flex_row1 > div > .h2P{
    color:white
}

.flex_row1 > div > div > .h2P{
    color:white
}

.flex_row1 > div > h1 {
    color:white
}

.special{
    background-color: red;
    height: 400px;
    margin-top: 20px;
}