.dash-footer {
  background: #151a25;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  overflow: hidden;
  align-items: center;
  height: 45px;
  z-index: 1000;

}
.dash-footer p {
  margin-bottom: 0 !important;
  font-size: 0.75rem;
}

.footer-left-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.admin-text-wrapper {
  display: flex;
  align-items: center;
  background: rgb(0, 124, 239);
  padding: 3px;
  border-radius: 2px;
}

.theme-wrapper {
  display: flex;
  position: relative;
  font-size: 0.6rem;
  height: 100%;
  align-items: center;
  margin: 0 20px;
}

.accounting-area {
  display: flex;
  align-items: center;
}

.accounting-area p {
  font-size: 0.75rem;
}

.footer-right-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-right-side button {
  display: block;
  height: 100%;
  border: none;
  background: #20283a;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 15px;
  cursor: pointer;
}

.footer-right-side button:active {
  outline: none;
}

.footer-right-side button:hover {
  background: #2f3a53;
}



@media screen and (max-width: 1000px) {
  .dash-contents .details {
    display: none !important;
  }
  .trade .dash-row {
    display: flex;
  }
  .dash-contents .sidebar {
    background-color: #131722;
    width: 18%;
    height: 100vh;
  }
  .dash-contents .trade .chart {
    height: 85vh;
  }

  .dash-contents .trade .trade-action {
    /* display: flex; */
    /* margin-top: -28%; */
    /* display: flex; */
    height: 70vh;
    /* display: flex; */
    width: 28%;
  }
  .dash-contents .market {
    transition: 0.25s;
    background-color: #131722;
    width: 82%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
  }
  .dash-contents .trade .trade-action .trade-amount .trade-amount-add {
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    height: 30px;
    position: relative;
    cursor: pointer;
    border-top: 2px solid #131722;
    border-left: 1px solid #131722;
  }

  .dash-contents .trade .trade-action .trade-amount .trade-amount-minus {
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    height: 30px;
    border-top: 2px solid #131722;
    border-right: 1px solid #131722;
    position: relative;
    cursor: pointer;
  }
  .dash-contents .trade .chart {
    height: 85vh;
    width: calc(100% - 125px);
    width: -webkit-calc(100% - 87px);
  }
  .switish1 {
    display: flex;
    height: 4ch;
    width: 15rem;
    margin-left: 5%;
    margin-top: -5%;
  }
  .credit h5 {
    white-space: normal !important;
  }
  .actions h5 {
    white-space: normal !important;
  }
  .actions1 h5 {
    white-space: normal !important;
  }
  .navbar {
    background-color: #1a202d;

    display: flex;
    flex-wrap: wrap;
  }
  .navbar-nav .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    overflow: auto;
  }

  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0.5rem !important;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 28% !important;
  }
  .navbar {
    background-color: #1a202d;
    display: flex;
    flex-wrap: nowrap;
  }
  .stock-box .d-flex {
    display: flex !important;
    overflow: visible;
  }

  .sell-option {
    border-radius: 5px;
    max-width: 300px;
    width: 75%;
    height: 536px;
    background-color: #131722;
    position: fixed;
    z-index: 500;

    top: 50%;
    right: 81px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    padding: 10px 10px;
    display: none;
    overflow: hidden;
  }

  .buy-option {
    border-radius: 5px;
    max-width: 300px;
    width: 75%;
    height: 536px;
    background-color: #131722;
    position: fixed;
    z-index: 500;

    top: 50%;
    right: 81px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    padding: 10px 10px;
    display: none;
    overflow: hidden;
  }
  .foot p {
    color: rgb(133, 137, 144);
    font-size: 5px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .dash-contents
    .trade
    .trade-action
    .trade-amount
    .trade-amount-input
    .amount {
    display: flex;
    font-size: 15px;
    margin-top: 0px !important;
  }
  .dash-contents .trade .trade-action .actions1 .buy,
  .dash-contents .trade .trade-action .actions1 .sell,
  .dash-contents .trade .trade-action .actions .buy,
  .dash-contents .trade .trade-action .actions .sell {
    height: 45px;
  }
  .dash-contents .order {
    position: fixed;
    overflow: hidden;
    width: 82%;
    height: 8vh;
    background-color: #131722;
    right: 0;
    bottom: 0;
    z-index: 200;
    padding: 15px 0;
    border-top: 5px solid #1d2435;
  }
  .dash-contents .trade .chart {
    height: 85vh;
    width: calc(100% - 125px);
    width: -webkit-calc(100% - 96px) !important;
  }

  .support-modal {
    height: auto !important;
    width: 96%;
    padding-left: 8%;
  }

  .notification-box {
    position: absolute;
    width: 300px;
    padding: 15px 15px;
    right: 0;
    top: 50px;
    /* width: 100%; */
    border-radius: 5px;
    height: 450px;
    background-color: #fff;

    z-index: 500;
    display: none;
    margin-right: 18%;
    margin-top: 50%;
  }
  .topI {
    margin-top: 30%;
  }
  .stock-nav .stock-nav-list {
    list-style-type: none;
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center !important;
  }
  .stock-nav .stock-nav-item:not(:last-of-type) {
    margin-right: 2px;
    font-size: 7px;
  }
  .stock-nav .stock-nav-item--dark {
    border: 1px solid #555;
    font-size: 7px;
  }
  .navbar {
    background-color: #1a202d;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  .navbar-dark .navbar-brand {
    color: #fff;
    margin-left: -9.5px;
    display: none;
  }
  .emptyDIV {
    width: 15%;
    background: transparent;
    padding: 2%;
    position: absolute;
    margin-left: 0%;
    display: none;
  }

  .stock-nav .stock-nav-list {
    list-style-type: none;
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center !important;
    margin: 0;
    padding: 0;
    margin-top: 4px;
  }
  .notification {
    font-size: 90%;
    margin: 10px 0;
    border-bottom: 1px solid #1a202d;
    padding-bottom: 10px;
    /* text-align: left; */
    margin-left: -85%;
  }
  .btn-outline-success.deposit {
    font-size: 10px;
    border: 1px solid rgb(42, 157, 62);
    padding: 6px 2px 6px 0px;
    /* width: 29%; */
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
  }
  .stock-nav .stock-nav-item {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0 2px;
  }
  .notification {
    font-size: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #1a202d;
    padding-bottom: 10px;
    /* text-align: left; */
    margin-left: -75%;
    /* width: 27px; */
  }
  .camera-wrapper {
    font-size: 100px;
    background: rgb(54, 60, 77);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red !important;
  }
  .account-wrapper h6 {
    font-size: 13px;
    color: #54ac40;
  }
  svg:not(:root) {
    overflow: hidden;
    font-size: 10px;
    width: 18px;
    margin-top: 5px;
  }
  .ml-2,
  .mx-2 {
    margin-left: 0% !important;
  }
  .stock-nav .stock-nav-item {
    width: 97px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7px;
    font-weight: 700;
    padding: 0 2px;
  }
  .navbar {
    background-color: #1a202d;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 5px;
  }
  .btn-outline-success.deposit {
    font-size: 10px;
    border: 1px solid rgb(42, 157, 62);
    padding: 4px;
    width: 29% !important;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
  }
  .notification {
    font-size: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #1a202d;
    padding-bottom: 10px;
    /* text-align: left; */
    margin-left: -70%;
    /* width: 27px; */
  }
  .navbar-expand .navbar-nav .nav-link {
    padding: 0 1px;
  }
  .account-wrapper h6 {
    font-size: 16px;
    color: #54ac40;
    margin-left: 5px;
  }
  .navbar {
    background-color: #1a202d;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 5px;
    height: 7vh;
  }
  .ml-auto.align-items-center.navbar-nav {
    margin-top: 5px;
  }
  .hideArrow {
    display: none !important;
  }

  .notification-box {
    position: absolute;
    width: 300px;
    padding: 15px 15px;
    right: 0;
    top: 50px;
    /* width: 100%; */
    border-radius: 5px;
    height: 450px;
    background-color: #fff;
    z-index: 500;
    display: none;
    margin-right: 18%;
    margin-top: 2%;
  }
  .notification-box .notification {
    font-size: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #1a202d;
    padding-bottom: 10px;
    /* text-align: left; */
    margin-left: 0%;
    /* width: 27px; */
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    left: auto;
    margin: 0px;
    min-width: 20rem;
    right: -125px;
    top: 121%;
    padding: 0;
    width: 100%;
  }
  .features-wrapper {
    width: 60%;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    left: auto;
    margin: 0px;
    min-width: 20rem;
    right: -60px;
    top: 121%;
    padding: 0;
    width: 100%;
  }
  .navbar-expand .navbar-nav .balance-wrapper .dropdown-menu {
    min-width: 40rem;
    right: -56px;
    top: 109%;
  }
  .credit-modal-box {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 83%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  .ChartPL {
    position: absolute;
    z-index: 99999;
    background: transparent;
    /* color: white; */
    left: 30%;
    top: 5%;
  }
  .w-75 {
    width: 164% !important;
  }
  .dash-contents .trade .trade-action .cad .amount {
    color: #28b756;
    font-size: 16px;
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
  .dash-contents .trade .trade-action {
    /* display: flex; */
    /* margin-top: -28%; */
    /* display: flex; */
    height: 70vh;
    /* display: flex; */
    width: 25%;
  }

  .actions h5 {
    white-space: normal !important;
    font-size: 14px;
    text-align: left;
  }

  .dash-contents .sidebar {
    background-color: #131722;
    width: 10%;
    height: 100vh;
  }

  .dash-contents .sidebar ul li a span {
    font-size: 6px;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
    white-space: nowrap;
  }
  .navbar {
    background-color: #1a202d;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0px 5px;
    height: 5vh;
    padding-bottom: 6px;
  }
  .dash-contents .market {
    transition: 0.25s;
    background-color: #131722;
    width: 90%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
  }
  html.theme-dark .group-2_so5thS {
    background-color: var(--tv-color-pane-background, #131722);
    display: none;
  }
  html.theme-dark .fill-2_so5thS {
    background-color: var(--tv-color-pane-background, #131722);
    display: none;
  }
  html.theme-dark .inner-2_so5thS {
    background-color: var(--tv-color-platform-background, #2a2e39);
    display: none;
  }
  .dash-contents .trade .trade-action {
    /* display: flex; */
    /* margin-top: -28%; */
    /* display: flex; */
    height: 70vh;
    /* display: flex; */
    width: 19%;
    padding: 1%;
  }
  .dash-contents .trade .chart {
    height: 94vh;
    width: calc(100% - 125px);
    width: -webkit-calc(100% - 71px) !important;
  }

  .buy-option {
    border-radius: 5px;
    max-width: 300px;
    width: 75%;
    height: 536px;
    background-color: #131722;
    position: fixed;
    z-index: 500;
    top: 50%;
    right: 160px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    padding: 10px 10px;
    display: none;
    overflow: hidden;
  }

  .sell-option {
    border-radius: 5px;
    max-width: 300px;
    width: 75%;
    height: 536px;
    background-color: #131722;
    position: fixed;
    z-index: 500;
    top: 50%;
    right: 160px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    padding: 10px 10px;
    display: none;
    overflow: hidden;
  }

  .actions h5 {
    white-space: normal !important;
    font-size: 12px;
    text-align: left;
  }
  .dash-contents .trade .trade-action .cad .amount {
    color: #28b756;
    font-size: 13px;
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
  .ChartPL {
    position: absolute;
    z-index: 99999;
    background: transparent;
    /* color: white; */
    left: 30%;
    top: 5%;
    display: none;
  }
  input:checked + .slider {
    background-color: #54ac40;
    box-shadow: 2px 2px 0 0 #000000;
    width: 85%;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 19px;
    width: 85%;
  }
  .stock-nav .stock-nav-item:not(:last-of-type) {
    margin-right: 2px;
    font-size: 6px;
  }
  .dash-contents .trade .trade-action .trade-amount .trade-amount-input .text {
    font-size: 10px;
  }
  .dash-contents .trade .chart {
    height: 94vh;
    width: calc(100% - 125px);
    width: -webkit-calc(100% - 66px) !important;
  }
  .notification {
    font-size: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #1a202d;
    padding-bottom: 10px;
    /* text-align: left; */
    margin-left: -80%;
    /* width: 27px; */
  }
  .account-wrapper h6 {
    font-size: 10px;
    color: #54ac40;
    margin-left: 5px;
  }
  .btn-outline-success.deposit {
    font-size: 9px;
    border: 1px solid rgb(42, 157, 62);
    padding: 5px;
    width: 29% !important;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-left: 5% !important;
  }
  .dash-contents .order {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 8vh;
    background-color: #131722;
    right: 0;
    bottom: 0;
    z-index: 200;
    padding: 15px 0;
    border-top: 5px solid #1d2435;
    top: 60%;
  }
  .dash-contents .order .dtls {
    width: 100%;
    margin-top: -10px;
    padding: 5px 15px;
    width: 76%;
    overflow: hidden !important;
    position: fixed;
    height: 17vh;
  }
  .dash-footer {
    background: #151a25;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    overflow: hidden;
    align-items: center;
    height: 45px;
    z-index: 1000;
    top: 70%;
  }
  .theme-wrapper {
    display: flex;
    position: relative;
    font-size: 0.6rem;
    height: 100%;
    align-items: center;
    margin: 0 20px;
    display: none;
  }
  .accounting-area p {
    font-size: 6px;
  }
  .dash-footer p {
    margin-bottom: 0 !important;
  }
  .accounting-area {
    display: flex;
    align-items: center;
    display: none;
  }
  .dash-footer {
    background: #151a25;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 78%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    overflow: hidden;
    align-items: center;
    height: 45px;
    z-index: 1000;
    top: 68%;

  }

  .sell-option {
    border-radius: 5px;
    max-width: 300px;
    width: 75%;
    height: 536px;
    background-color: #131722;
    position: fixed;
    z-index: 500;
    top: 44%;
    right: 160px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    padding: 10px 10px;
    display: none;
    overflow: hidden;
}
.dash-footer p {
  margin-bottom: 0px !important;
  font-size: 10px;
}
.footer-right-side button {
  display: block;
  height: 65%;
  border: none;
  background: #20283a;
  padding: 0px 15px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  margin-right: 15px;
  cursor: pointer;
  margin-left: -13%;
}
.dash-contents .order .dtls {
  width: 100%;
  margin-top: -10px;
  padding: 5px 15px;
  width: 74%;
  overflow: hidden !important;
  position: fixed;
  height: 17vh;
}
.dash-contents .trade .chart {
  height: 94vh;
  width: calc(100% - 125px);
  width: -webkit-calc(100% - 72px) !important;
}
.dash-contents .trade .chart {
  height: 94vh;
  width: calc(100% - 125px);
  width: -webkit-calc(100% - 77px) !important;
}
  
}


.ChartPL {
  position: absolute;
  z-index: 9;
  background: transparent;
  /* color: white; */
  left: 65%;
  top: 5%;
}